body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}
header {
    background-color: #007BFF;
    color: rgb(235, 215, 237);
    padding: 20px;
}
footer {
    margin-top: 20px;
    font-size: 0.9em;
}
